include ../partials/building-card

.content-wrap
	.row
		.col-xs-12
			h1 New York City

	.row
		.col-xs-12.col-md-6.col-lg-4: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "575 Fifth", "575 5th Ave. New York NY 10017", "$1,000", "$700", "$450", "/", "")
		.col-xs-12.col-md-6.col-lg-4: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 Madison", "135 Madison Ave New York NY 10016", "$970", "", "", "/", "Opening Soon")
