include ../partials/building-card

.content-wrap
	.row
		.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			.market-page-intro
				h1.impact-2 Find Inspiring Workspace in New York City
				p.copy-2 From a single desk to private offices, we offer fresh spaces that will keep your team energized. Explore our New York City locations here.

	.row
		.col-xs-12
			.filter-bar
				a.btn.btn--primary-action Filter Locations

	.row
		.col-xs-12
			.results-bar
				p.copy-3 Viewing 40 of 40 Locations in New York City

	.row
		.col-xs-12.col-md-6.col-lg-8
			.row
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "575 Fifth", "575 5th Ave. New York NY 10017", "$1,000", "$700", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 Madison", "135 Madison Ave New York NY 10016", "$970", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/246c8e78-f0c5-11e7-b01d-1202be33576a/Metropool_by_Brigitte_Kroone-Common_Area-8__1_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "11 Park Place", "11 Park Place New York NY 10007", "$980", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "Queens Plaza", "27-01 Queens Plaza N Long Island City NY 10011", "", "", "", "/", "", true)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/cae18020-f0bf-11e7-a24a-1202be33576a/29171214_135_West_41st_Common_Area_11_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 West 41st St.", "135 West 41st St 5th Floor New York NY 10036", "$900", "", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/7591f35c-d3c3-11e7-8c7f-0a636a339cd2/20171121_W_57th_Interiors_-_Common_Areas_--6.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "W. 57th St.", "142 W 57th St New York NY 10019", "$1,100", "", "$500", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "575 Fifth", "575 5th Ave. New York NY 10017", "$1,000", "$700", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 Madison", "135 Madison Ave New York NY 10016", "$970", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/246c8e78-f0c5-11e7-b01d-1202be33576a/Metropool_by_Brigitte_Kroone-Common_Area-8__1_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "11 Park Place", "11 Park Place New York NY 10007", "$980", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "Queens Plaza", "27-01 Queens Plaza N Long Island City NY 10011", "", "", "", "/", "", true)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/cae18020-f0bf-11e7-a24a-1202be33576a/29171214_135_West_41st_Common_Area_11_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 West 41st St.", "135 West 41st St 5th Floor New York NY 10036", "$900", "", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/7591f35c-d3c3-11e7-8c7f-0a636a339cd2/20171121_W_57th_Interiors_-_Common_Areas_--6.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "W. 57th St.", "142 W 57th St New York NY 10019", "$1,100", "", "$500", "/", "", false)

		.col-xs-12.col-md-6.col-lg-4
			.map
				h3.title-0 Map