include ../partials/building-card
include ../partials/market-filters-nyc
include ../partials/sales-callout
include ../partials/amenity-grid

.content-wrap
	.market-page-intro
		.row
			.col-xs-12
				p.copy-2 Find inspiring workspace in
				h1.impact-2 New York City

	.row
		.col-xs-12
			.filter-bar
				.tooltip-wrapper
					a.btn.btn--primary-action.btn-market-filters
						i.bi_setting-eq-a
						|  Filter Locations
					.tooltip
						| Our filters can help you refine your workspace results.
						i.bi_interface-cross
				.switch-text-group
					label.label--switch-text(for='list-view') List
						input#list-view(type='radio', name='toggle-view', value='list', checked)
					label.label--switch-text(for='map-view') Map
						input#map-view(type='radio', name='toggle-view', value='map')
				ul.filter-results
					li.desks-result
						span
						|  desk(s)
					li.company-size-result
						| Company size: 
						span
					li.area-result
						span 
						|  neighborhoods
					li.move-in-result
						span
						|  move-in
					a.btn.btn--tertiary-navigation.btn-market-filters-clear Clear Filters

			.filter-bar-spacer

	.row
		.col-xs-12.col-md-8.market-building-container
			.row
				.col-xs-12: +sales-callout("mid-market", "", "For teams your size", "Contact us directly for the most accurate pricing and availability.", "tertiary-navigation", "1-855-593-9675", "/")
				.col-xs-12: +sales-callout("custom-space", "../assets/img/20161219-Irvine-Andrew-Kwak-Art-and-Details-4.jpg", "Sounds like you need a custom solution", "Whether you need a unique suite or a one-of-a-kind HQ, out experts can help you create workspace solutions that are optimized for your business.", "primary-light", "View Custom Solutions", "https://www.wework.com/plans/custom-buildout?override_treatments=customSpaceBuildoutV3=2")
				.col-xs-12: +sales-callout("enterprise", "../assets/img/20170404-Mixpanel-Office-46.jpg", "Sounds like you need an enterprise solution","Whether you’re looking for move-in ready offices or fully tailored spaces, we offer an array of solutions for large-scale corporations.", "primary-light", "View Enterprise Solutions", "https://www.wework.com/enterprise")
				
			.row
				.col-xs-12
					.results-bar
						p.copy-2
							span Viewing 25 of 25 locations
							|  in New York City

			.row
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/a5985f54-7bae-11e7-a0ad-0a636a339cd2/20170526_Merchant_s_Row_-_Common_Areas-49.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "123 Main St", "123 Main Street, New York City", "$1,000", "$700", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "456 Fairlane", "456 Fairlane Drive, New York City", "$1,000", "$700", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/246c8e78-f0c5-11e7-b01d-1202be33576a/Metropool_by_Brigitte_Kroone-Common_Area-8__1_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "15 Bend St", "15 Bend Street, New York City", "$980", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "72 Redmond", "72 Redmond Way, New York City", "$970", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/cae18020-f0bf-11e7-a24a-1202be33576a/29171214_135_West_41st_Common_Area_11_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "235 Riverdale", "235 Riverdale Drive, New York City", "$900", "", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/7591f35c-d3c3-11e7-8c7f-0a636a339cd2/20171121_W_57th_Interiors_-_Common_Areas_--6.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "1300 Canyon", "1300 Canyon Drive, New York City", "$1,100", "", "$500", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/202949de-3800-11e6-8bc6-0a488af3e541/dumbo-heights-coworking-28.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "422 30th", "422 30th Avenue, New York City", "$710", "$450", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/89e518ba-723f-11e7-8ea9-0a636a339cd2/1._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "103 Arches", "103 Arches Lane, New York City", "$750", "$450", "$350", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/e5901bbc-efe2-11e7-b5f6-1202be33576a/20170621_City_Hall_Interiors-22.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "82 Western", "82 Western Boulevard, New York City", "$870", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/151488d6-4a0e-11e6-8f9f-0a488af3e541/brooklyn-heights-coworking-18.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "65 Summit", "65 Summit Lane, New York City", "$750", "$550", "$300", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/50cf6504-d477-11e7-b0ba-0a636a339cd2/20140729_Columbia_Start_Up_Labs-36-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "167 Wayland", "167 Wayland Street, New York City", "$1,000", "$550", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/38301a66-f0c9-11e7-ab56-1202be33576a/20171011_WeWork_Apollo_-_Common_Areas_-_Wide-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "1500 Ridgley", "1500 Ridgley Street, New York City", "$900", "", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
			
			.row.hide-before-filtered
				.col-xs-12
					+amenity-grid("Amenities", "Every building is equipped to empower your team, 24/7.", 
												{icon: "web-internet-a", name: "Super-Fast Internet"},
												{icon: "doc-print-a", name: "Business-Class Printers"},
												{icon: "time-clock-c", name: "Daily Cleaning"},
												{icon: "beverage-tea-a", name: "Micro-Roasted Coffee"},
												{icon: "com-envelope", name: "Mail & Package Handling"},
												{icon: "user-single-a-group", name: "IT Support"},
												{icon: "time-calendar-a", name: "24/7 Building Access"},
												{icon: "misc-globe", name: "Global Network"},
												{icon: "doc-attachment", name: "Office Supplies"},
												{icon: "beverage-beer", name: "Craft on Draft"},
												{icon: "com-phone", name: "Private Phone Booths"},
												{icon: "transport-bicycle", name: "Bike Storage"})

			.row.hide-before-filtered
				.col-xs-12
					.more-options
						h3.title-1 More Options
						p.copy-2 13 buildings meet your criteria in other neighborhoods

			.row
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "23 Joyce", "23 Joyce Road, New York City", "$1,000", "$700", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "515 Kings", "515 Kings Lane, New York City", "$970", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/246c8e78-f0c5-11e7-b01d-1202be33576a/Metropool_by_Brigitte_Kroone-Common_Area-8__1_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "42 Bluebell", "42 Bluebell Road, New York City", "$980", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/a5985f54-7bae-11e7-a0ad-0a636a339cd2/20170526_Merchant_s_Row_-_Common_Areas-49.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "331 Fields", "331 Fields Street, New York City", "$1,000", "$700", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/cae18020-f0bf-11e7-a24a-1202be33576a/29171214_135_West_41st_Common_Area_11_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "2330 45th", "2330 45th Avenue, New York City", "$900", "", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/7591f35c-d3c3-11e7-8c7f-0a636a339cd2/20171121_W_57th_Interiors_-_Common_Areas_--6.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "22 Marshall", "22 Marshall Street, New York City", "$1,100", "", "$500", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/202949de-3800-11e6-8bc6-0a488af3e541/dumbo-heights-coworking-28.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "900 Filson", "900 Filson Street, New York City", "$710", "$450", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/89e518ba-723f-11e7-8ea9-0a636a339cd2/1._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "3 Balston", "3 Balston Lane, New York City", "$750", "$450", "$350", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/e5901bbc-efe2-11e7-b5f6-1202be33576a/20170621_City_Hall_Interiors-22.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "685 Spruce", "685 Spruce Street, New York City", "$870", "", "", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/151488d6-4a0e-11e6-8f9f-0a488af3e541/brooklyn-heights-coworking-18.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "19 Mayfair", "19 Mayfair Parkway, New York City", "$750", "$550", "$300", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/50cf6504-d477-11e7-b0ba-0a636a339cd2/20140729_Columbia_Start_Up_Labs-36-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "200 Ashton", "200 Ashton Road, New York City", "$1,000", "$550", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/38301a66-f0c9-11e7-ab56-1202be33576a/20171011_WeWork_Apollo_-_Common_Areas_-_Wide-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "6 Yarrow", "6 Yarrow Street, New York City", "$900", "", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/38301a66-f0c9-11e7-ab56-1202be33576a/20171011_WeWork_Apollo_-_Common_Areas_-_Wide-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "500 Hugo", "500 Hugo Street, New York City", "$900", "", "$450", "https://www.wework.com/buildings/fulton-center--new-york-city--NY", "", false)

			.row.hide-when-filtered
				.col-xs-12
					+amenity-grid("Amenities", "Every building is equipped to empower your team, 24/7.", 
												{icon: "web-internet-a", name: "Super-Fast Internet"},
												{icon: "doc-print-a", name: "Business-Class Printers"},
												{icon: "time-clock-c", name: "Daily Cleaning"},
												{icon: "beverage-tea-a", name: "Micro-Roasted Coffee"},
												{icon: "com-envelope", name: "Mail & Package Handling"},
												{icon: "user-single-a-group", name: "IT Support"},
												{icon: "time-calendar-a", name: "24/7 Building Access"},
												{icon: "misc-globe", name: "Global Network"},
												{icon: "doc-attachment", name: "Office Supplies"},
												{icon: "beverage-beer", name: "Craft on Draft"},
												{icon: "com-phone", name: "Private Phone Booths"},
												{icon: "transport-bicycle", name: "Bike Storage"})

			.row
				.col-xs-12
					.responsive-block
						h3.title-1 Coworking Space NYC
						p.copy-2 With dozens of locations spread throughout Manhattan, Brooklyn, and Queens, WeWork has your perfect office space in New York. The capital of advertising, media, fashion, and finance, this city is also home to fast-growing startups and nonprofits. Each of our buildings has a different vibe, so if you’re looking for a vibrant workspace to engage your team, network over coffee, or impress clients, you’ll find it here.
						h3.title-2 Why WeWork for Office Space in NYC?
						p.copy-2 New York has always been a city of entrepreneurs, and it’s never been more true than today. More of the world’s fastest growing companies are based here than in any other city. As the landscape of work changes, so too does the workplace. That’s where WeWork comes in, offering all the everyday conveniences of a dedicated space like front desk staff and gorgeous meeting rooms, along with added perks like month-to-month flexibility, networking events, and free-flowing coffee. And the best part is there are dozens of buildings all over the city, so it’s easy to find the just-right place to make your mark.

		.col-xs-12.col-md-4.market-map-container
			.map.map-nyc