include ../partials/building-card
include ../partials/market-filters

.content-wrap
	.market-page-intro
		.row
			.col-xs-12
				p.copy-2 Find inspiring workspace in
				h1.impact-2 New York City

	.row
		.col-xs-12
			.filter-bar
				//- h1.impact-2 Inspiring Workspace in New York City
				.tooltip-wrapper
					a.btn.btn--primary-navigation.btn-market-filters
						i.bi_setting-eq-a
						|  Filter Locations
					.tooltip
						| Our filters can help you refine your workspace results.
						i.bi_interface-cross
				.toggle-group
					label.label--toggle(for='list-view') List
						input#list-view(type='radio', name='toggle-view', value='list', checked)
					label.label--toggle(for='map-view') Map
						input#map-view(type='radio', name='toggle-view', value='map')
				ul.filter-results
					li.desks-result
						span
						|  desks
					li.area-result
						span
						|  areas
					li.move-in-result
						span
						|  move-in
				a.btn.btn--tertiary-navigation.btn-market-filters-clear Clear Filters

			.filter-bar-spacer

	.row
		.col-xs-12
			.results-bar
				p.copy-3 Viewing 49 of 49 locations in New York City

	.row
		.col-xs-12.col-md-8.market-building-container
			.row
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/66df64ee-9330-11e7-b00b-0a636a339cd2/6._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "575 Fifth", "575 5th Ave. New York NY 10017", "$1,000", "$700", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/233613a4-b03c-11e7-9412-0a636a339cd2/20170117_Long_Beach_-_Members-12.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 Madison", "135 Madison Ave New York NY 10016", "$970", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/246c8e78-f0c5-11e7-b01d-1202be33576a/Metropool_by_Brigitte_Kroone-Common_Area-8__1_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "11 Park Place", "11 Park Place New York NY 10007", "$980", "", "", "/", "Opening Soon", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/a5985f54-7bae-11e7-a0ad-0a636a339cd2/20170526_Merchant_s_Row_-_Common_Areas-49.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "Queens Plaza", "27-01 Queens Plaza N Long Island City NY 10011", "", "", "", "/", "", true)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/cae18020-f0bf-11e7-a24a-1202be33576a/29171214_135_West_41st_Common_Area_11_.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "135 West 41st St.", "135 West 41st St 5th Floor New York NY 10036", "$900", "", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/7591f35c-d3c3-11e7-8c7f-0a636a339cd2/20171121_W_57th_Interiors_-_Common_Areas_--6.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "W. 57th St.", "142 W 57th St New York NY 10019", "$1,100", "", "$500", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/202949de-3800-11e6-8bc6-0a488af3e541/dumbo-heights-coworking-28.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "Dumbo Heights", "81 Prospect St Brooklyn NY 11201", "$710", "$450", "", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/89e518ba-723f-11e7-8ea9-0a636a339cd2/1._Website.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "South Williamsburg", "109 S 5th Street Brooklyn NY 11249", "$750", "$450", "$350", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/e5901bbc-efe2-11e7-b5f6-1202be33576a/20170621_City_Hall_Interiors-22.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "City Hall", "222 Broadway 19th Floor New York NY 10038", "$870", "", "", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/151488d6-4a0e-11e6-8f9f-0a488af3e541/brooklyn-heights-coworking-18.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "Montague St.", "195 Montague Street 14th Floor Brooklyn NY 11201", "$750", "$550", "$300", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/50cf6504-d477-11e7-b0ba-0a636a339cd2/20140729_Columbia_Start_Up_Labs-36-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "SoHo West", "175 Varick Street New York NY 10014", "$1,000", "$550", "$450", "/", "", false)
				.col-xs-12.col-sm-6: +building-card("https://cdn.wework.com/locations/image/38301a66-f0c9-11e7-ab56-1202be33576a/20171011_WeWork_Apollo_-_Common_Areas_-_Wide-2.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=450&h=220", "205 Hudson", "205 Hudson St New York NY 10013", "$900", "", "$450", "/", "", false)

			.row
				.col-12
					.responsive-block
						h3.title-2 Coworking Space NYC
						p.copy-2 With dozens of locations spread throughout Manhattan, Brooklyn, and Queens, WeWork has your perfect office space in New York. The capital of advertising, media, fashion, and finance, this city is also home to fast-growing startups and nonprofits. Each of our buildings has a different vibe, so if you’re looking for a vibrant workspace to engage your team, network over coffee, or impress clients, you’ll find it here.
						h3.title-3 Why WeWork for Office Space in NYC?
						p.copy-2 New York has always been a city of entrepreneurs, and it’s never been more true than today. More of the world’s fastest growing companies are based here than in any other city. As the landscape of work changes, so too does the workplace. That’s where WeWork comes in, offering all the everyday conveniences of a dedicated space like front desk staff and gorgeous meeting rooms, along with added perks like month-to-month flexibility, networking events, and free-flowing coffee. And the best part is there are dozens of buildings all over the city, so it’s easy to find the just-right place to make your mark.

		.col-xs-12.col-md-4.market-map-container
			.map