button,
.btn {
	display: inline-block;
	height: 42px;
	font-size: 14px;
	line-height: 42px;
	font-family: $apercu;
	@extend .text-medium;
	text-align: center;
	position: relative;
	cursor: pointer;
	border: 2px solid;
	border-radius: 5px;
	box-shadow: none;
	padding: 0 50px;
	transition: all 200ms;


	// ---------------
	// Primary
	// ---------------

	&.btn--primary-action {
		background: $yellow-50;
		border-color: $yellow-50;
		color: $black-50;

		&:hover {
			background: $yellow-60;
			border-color: $yellow-60;
		}
	}

	&.btn--primary-cancel {
		background: $red-50;
		border-color: $red-50;
		color: $white;

		&:hover {
			background: $red-60;
			border-color: $red-60;
		}
	}

	&.btn--primary-navigation {
		background: $blue-50;
		border-color: $blue-50;
		color: $white;

		&:hover {
			background: $blue-60;
			border-color: $blue-60;
		}
	}

	&.btn--primary-light {
		background: $white;
		border-color: $white;
		color: $black-50;

		&:hover {
			background: $yellow-30;
			border-color: $yellow-30;
		}
	}

	&.btn--primary-disabled {
		background: $gray-30;
		border-color: $gray-30;
		color: white;
		pointer-events: none;
	}


	// ---------------
	// Secondary
	// ---------------

	&.btn--secondary-action {
		background: $yellow-30;
		border-color: $yellow-30;
		color: $black-50;

		&:hover {
			background: $yellow-40;
			border-color: $yellow-40;
		}
	}

	&.btn--secondary-navigation {
		background: transparent;
		border-color: $blue-50;
		color: $blue-50;

		&:hover {
			color: $blue-60;
			border-color: $blue-60;
		}
	}

	&.btn--secondary-light {
		background: transparent;
		border-color: $white;
		color: $white;

		&:hover {
			color: $yellow-30;
			border-color: $yellow-30;
		}
	}

	&.btn--secondary-disabled {
		background: transparent;
		border-color: $gray-30;
		color: $gray-30;
		pointer-events: none;
	}

	&.btn--secondary-light-disabled {
		background: transparent;
		border-color: $gray-80;
		color: $gray-80;
		pointer-events: none;
	}


	// ---------------
	// Tertiary
	// ---------------
	&.btn--tertiary-navigation {
		background: transparent;
		border-color: transparent;
		color: $blue-50;
		padding: 0;
		text-align: left;

		&:hover {
			color: $blue-60;
		}
	}

	&.btn--tertiary-light {
		background: transparent;
		border-color: transparent;
		color: $white;
		padding: 0;
		text-align: left;

		&:hover {
			color: $yellow-30;
		}
	}

	&.btn--tertiary-disabled {
		background: transparent;
		border-color: transparent;
		color: $gray-40;
		padding: 0;
		text-align: left;
		pointer-events: none;
	}

	&.btn--tertiary-light-disabled {
		background: transparent;
		border-color: transparent;
		color: $gray-80;
		padding: 0;
		text-align: left;
		pointer-events: none;
	}
}