// ---------------
// Market Page
// ---------------

// Intro
.market-page-intro {
	@extend .responsive-block;
	text-align: center;

	p {
		margin: 0;
	}
}

// Filter Bar
.filter-bar {
	background: $gray-30;
	padding: $spacer-xs 0;
	text-align: center;

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		z-index: 100;
	}
}

// to replace the space when the filter bar is stuck to the top
.filter-bar-spacer {
	display: none;
	height: 82px;
}

// Results Bar
.results-bar {
	padding: $spacer-md 0 $spacer-xs;
}

// Map
.map {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 164px);
	background: $bg-3;

	h3 {
		transform: rotate(-10deg);
	}
}