// ---------------
// Market Page
// ---------------

// Intro
.market-page-intro {
	position: relative;
	height: 180px;
	background: $black-50 url('https://images.unsplash.com/photo-1483653364400-eedcfb9f1f88?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec11cca0550e84491e0ac9dbd6f8374c&auto=format&fit=crop&w=2250&q=80') no-repeat center;
	background-size: cover;

	.text-container {
		position: absolute;
		bottom: 0;
		left: 0;
		color: $white;
		padding: 100px 20px 20px;
		margin: 0;
		width: 100%;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

		h1 {
			margin: 0;
		}

		p {
			margin: 0 0 5px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 350px;
	}
}

// Filter Bar
.filter-bar {
	background: $bg-3-solid;
	padding: $spacer-xs;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (min-width: $screen-md-min) {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	&.fixed {
		position: fixed;
		top: 0;
		width: calc(100vw - 40px);
		max-width: 1200px;
		margin: 0 auto;
		z-index: 100;
	}

	h1 {
		font-size: 34px;
		line-height: 40px;
		letter-spacing: 0.5px;
		flex-basis: 100%;
		flex-shrink: 0;

		@media (min-width: $screen-md-min) {
			flex-basis: auto;
			margin: 0 20px 0 0;
		}
	}

	.btn {
		padding: 0 20px;
	}

	.btn-market-filters {
		margin: 0 10px 0 0;
	}

	.btn-market-filters-clear {
		margin: 0;
		display: none;
	}

	.toggle-group {
		max-width: 124px;
		margin: 0;

		@media (min-width: $screen-md-min) {
			display: none;
		}
	}

	.filter-results {
		display: flex;
		list-style: none;
		flex-direction: row;
		margin: 0;
		padding: 0;

		li {
			display: none;
			background: $white;
			border: 1px solid $gray-40;
			@extend .copy-3;
			height: 44px;
			line-height: 44px;
			padding: 0 15px;

			&:not(:last-of-type) {
				margin: 0 10px 0 0;
			}
		}

		@media (max-width: $screen-md-min) {
			display: none;
		}
	}
}

// to replace the space when the filter bar is stuck to the top
.filter-bar-spacer {
	display: none;
	height: 82px;
}

// Results Bar
.results-bar {
	padding: $spacer-md 0 $spacer-xs;
}

// Map
.map {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc((100vw - 40px));
	height: calc(100vh - 98px);
	background: $bg-3 url('../assets/img/map.jpg') no-repeat center;
	background-size: cover;

	@media (min-width: $screen-md-min) {
		width: calc((100vw - 40px - 32px) / 3);
		max-width: 390px;
	}

	&.fixed {
		position: fixed;
		top: 98px;
	}
}

.market-building-container,
.market-map-container {
	@media (min-width: $screen-md-min) {
		display: block !important;
	}
}

.market-building-container {
	&.filtered {
		.col-xs-12.col-sm-6:nth-of-type(odd) {
			display: none;
		}

		.col-xs-12.col-sm-6:nth-of-type(n+13) {
			display: none;
		}
	}
}