// ---------------
// Market Page
// ---------------

// Intro
.market-page-intro {
	@extend .responsive-block;
	text-align: center;

	p {
		margin: 0;
	}
}

// Filter Bar
.filter-bar {
	background: $bg-3-solid;
	padding: $spacer-xs 0;
	display: flex;
	flex-direction: row;
	justify-content: center;

	&.fixed {
		position: fixed;
		top: 0;
		width: calc(100vw - 40px);
		max-width: 1200px;
		margin: 0 auto;
		z-index: 100;
	}

	.btn {
		padding: 0 20px;
		margin: 0 10px 0 0;
	}

	.toggle-group {
		max-width: 124px;
		margin: 0;

		@media (min-width: $screen-md-min) {
			display: none;
		}
	}
}

// to replace the space when the filter bar is stuck to the top
.filter-bar-spacer {
	display: none;
	height: 82px;
}

// Results Bar
.results-bar {
	padding: $spacer-md 0 $spacer-xs;
}

// Map
.map {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc((100vw - 40px));
	height: calc(100vh - 98px);
	background: $bg-3;

	@media (min-width: $screen-md-min) {
		width: calc((100vw - 40px - 32px) / 3);
		max-width: 390px;
	}

	&.fixed {
		position: fixed;
		top: 98px;
	}

	h3 {
		transform: rotate(-10deg);
	}
}

.market-building-container,
.market-map-container {
	@media (min-width: $screen-md-min) {
		display: block !important;
	}
}