// ---------------
// Tooltips
// ---------------

.tooltip-wrapper {
	position: relative;
}

.tooltip {
	position: absolute;
	background: $black-50;
	padding: 10px 40px 10px 15px;
	@extend .copy-3;
	color: $white;
	left: 0;
	top: calc(100% + 15px);
	transform: translate(0, 4px);
	width: 280px;
	border-radius: 2px;
	z-index: 100;
	opacity: 0;
	transition: all 400ms;
	pointer-events: none;

	@media (min-width: $screen-md-min) {
		white-space: nowrap;
		width: auto;
	}

	&:before {
		content: "";
		position: absolute;
		left: 10px;
		top: 0;
		background: $black-50;
		width: 10px;
		height: 10px;
		border-radius: 2px;
		transform: translate(0, -50%) rotate(45deg);
		z-index: -1;
	}

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	top: calc(50% - 12px);
	// 	width: 10px;
	// 	height: 24px;
	// 	background: $white;
	// }

	i {
		position: absolute;
		top: 10px;
		right: 10px;
		transform: scale(0.75);
	}

	&.show {
		opacity: 1;
		transform: translate(0, 0);
		transition-delay: 500ms;
		pointer-events: all;
		cursor: pointer;
	}
}