@import "_variables";
@import "_blocks";

@import "_text-styles";
@import "_buttons";
@import "_inputs";
@import "_tooltips";
@import "_budicons";
@import "_amenity-grid";

@import "_header";
@import "_footer";

@import "_market-page";
@import "_market-filters";
@import "_building-card";


// ------------------------------------------------------------------------------------------


// ---------------
// Base
// ---------------

html {
  background: $bg-3;
}

body {
  font-family: $apercu;
  font-size: 16px;
  background: $white;
  color: $black-50;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.content-wrap {
  width: calc(100vw - 40px);
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  outline: none;
  border: none;
  height: 1px;
  background: $bg-5;
  margin: 10px 0;
}