.content-wrap
	.responsive-block
		ul.bulleted-list.bulleted-link-list
			li: a(href="/new-york-city") New York City
			li: a(href="/los-angeles") Los Angeles
			li: a(href="/san-francisco") SF Bay Area