.market-filters
	i.bi_interface-cross.btn-market-filters-close
	
	.content-wrap
		.responsive-block
			.row
				.col-xs-12.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					h2.title-1 Find the Perfect Space

			form
				.row
					.col-xs-12.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
						label(for="desk-number") How many desks do you need?
							input(type="number" id="desk-number" name="desk-number" placeholder="Approximate number")

						label How many people are in your company?
							.toggle-group
								label.label--toggle(for='company-size-1') 1–19
									input#company-size-1(type='radio', name='company-size', value='1–19')
								label.label--toggle(for='company-size-2') 20–99
									input#company-size-2(type='radio', name='company-size', value='20–99')
								label.label--toggle(for='company-size-3') 100–999
									input#company-size-3(type='radio', name='company-size', value='100–999')
								label.label--toggle(for='company-size-3') 1000+
									input#company-size-3(type='radio', name='company-size', value='1000+')

						label When would you like to move in?
							.row
								.col-xs-6
									label.label--radio-checkbox(for='when-asap') ASAP
										input#when-asap(type='radio', name='when', value='ASAP')
									label.label--radio-checkbox(for='when-march') March
										input#when-march(type='radio', name='when', value='March')
								.col-xs-4
									label.label--radio-checkbox(for='when-after-march') After March
										input#when-after-march(type='radio', name='when', value='After March')
									label.label--radio-checkbox(for='when-undecided') Undecided
										input#when-undecided(type='radio', name='when', value='Undecided')

						label What areas are you interested in?
							.row
								.col-xs-6
									label.label--radio-checkbox(for='area-borough-manhattan') Manhattan
										input#area-borough-manhattan(type='checkbox', name='area-borough', value='manhattan')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-midtown-west') Midtown West
											input#area-neighborhood-manhattan-midtown-west(type='checkbox', name='area-neighborhood-manhattan', value='midtown-west')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-midtown-east') Midtown East
											input#area-neighborhood-manhattan-midtown-east(type='checkbox', name='area-neighborhood-manhattan', value ='midtown-east')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-tribeca') TriBeCa
											input#area-neighborhood-manhattan-tribeca(type='checkbox', name='area-neighborhood-manhattan', value='tribeca')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-flatiron-district') Flatiron District
											input#area-neighborhood-manhattan-flatiron-district(type='checkbox', name='area-neighborhood-manhattan', value='flatiron-district')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-soho') SoHo
											input#area-neighborhood-manhattan-soho(type='checkbox', name='area-neighborhood-manhattan', value='soho')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-financial-district') Financial District
											input#area-neighborhood-manhattan-financial-district(type='checkbox', name='area-neighborhood-manhattan', value='financial-district')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-meatpacking') Meatpacking
											input#area-neighborhood-manhattan-meatpacking(type='checkbox', name='area-neighborhood-manhattan', value='meatpacking')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-harlem') Harlem
											input#area-neighborhood-manhattan-harlem(type='checkbox', name='area-neighborhood-manhattan', value='harlem')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-grammercy') Grammercy
											input#area-neighborhood-manhattan-grammercy(type='checkbox', name='area-neighborhood-manhattan', value='grammercy')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-nomad') NoMad
											input#area-neighborhood-manhattan-nomad(type='checkbox', name='area-neighborhood-manhattan', value='nomad')
										label.label--radio-checkbox(for='area-neighborhood-manhattan-chelsea') Chelsea
											input#area-neighborhood-manhattan-chelsea(type='checkbox', name='area-neighborhood-manhattan', value='chelsea')

								.col-xs-6
									label.label--radio-checkbox(for='area-borough-brooklyn') Brooklyn
										input#area-borough-brooklyn(type='checkbox', name='area-borough', value='brooklyn')
										label.label--radio-checkbox(for='area-neighborhood-brooklyn-williamsburg') Williamsburg
											input#area-neighborhood-brooklyn-williamsburg(type='checkbox', name='area-neighborhood-brooklyn', value='williamsburg')
										label.label--radio-checkbox(for='area-neighborhood-brooklyn-dumbo') DUMBO
											input#area-neighborhood-brooklyn-dumbo(type='checkbox', name='area-neighborhood-brooklyn', value='dumbo')
										label.label--radio-checkbox(for='area-neighborhood-brooklyn-brooklyn-heights') Brooklyn Heights
											input#area-neighborhood-brooklyn-brooklyn-heights(type='checkbox', name='area-neighborhood-brooklyn', value='brooklyn-heights')
									
									label.label--radio-checkbox(for='area-borough-queens') Queens
										input#area-borough-queens(type='checkbox', name='area-borough', value='queens')
										label.label--radio-checkbox(for='area-neighborhood-queens-long-island-city') Long Island City
											input#area-neighborhood-queens-long-island-city(type='checkbox', name='area-neighborhood-queens', value='long-island-city')
										label.label--radio-checkbox(for='area-neighborhood-queens-sunnyside-gardens') Sunnyside Gardens
											input#area-neighborhood-queens-sunnyside-gardens(type='checkbox', name='area-neighborhood-brqueensoklyn', value='sunnyside-gardens')

						.row
							.col-xs-12
								a.btn.btn--primary-navigation.btn-market-filters-close View Results
								a.btn.btn--tertiary-navigation.btn-market-filters-clear Clear Filters