mixin sales-callout(name, img, headline, copy, btnCopy, btnLink)
	.sales-callout(class="sales-callout-" + name)
		if img
			.image(style="background-image: url('" + img + "')")
		
		.text-container
			if headline
				h3.title-2= headline
			if copy
				p.copy-2= copy
			if btnCopy
				a.btn.btn--tertiary-light(href=btnLink)= btnCopy