mixin sales-callout(name, img, headline, copy, btnCopy, btnLink)
	.sales-callout(class="sales-callout-" + name)
		.image(style="background-image: url('" + img + "')")
		.text-container
			h3.title-2= headline
			p.copy-2= copy
			a.btn.btn--tertiary-light(href=btnLink)= btnCopy